.chatMain
  .chatMain__groupInfo
    .chatMain__groupInfo--left
      = @group.name
      .member-name
        Member:
        - @group.users.each do |user|
          = user.nickname
    .chatMain__groupInfo--right
      = link_to edit_group_path(@group), class:"edit-btn" do
        Edit
        
  .chatMain__messageList
    = render @messages
        

  .chatMain__messageForm
    = form_for [@group, @message] ,html: { class: "messageForm--inputBox" }do |f|
      = f.text_field :body, class: 'inputBox--text', placeholder: 'type a message'
      = f.label :image, class: 'inputBox--imgAttachmentBtn' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'fileOpen'
      = f.submit 'Send', class: 'inputBox--submitBtn'